.button,
.button *,
.button :after,
.button :before,
.button:after,
.button:before {
  border: 0 solid;
  box-sizing: border-box;
}
.button {
  background-color: #000;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-size: 100%;
  line-height: 1.5;
  margin: 0;
  transition: 250ms linear;
  padding: 0;
}
.button:disabled {
  cursor: default;
  pointer-events: none;
  opacity: 0.25;
}
.button:-moz-focusring {
  outline: auto;
}
.button svg {
  display: block;
  vertical-align: middle;
}
.button [hidden] {
  display: none;
}
.button {
  background: linear-gradient(90deg, blue, red);
  border-radius: 999px;
  box-sizing: border-box;
  color: #000;
  display: block;
  font-weight: 900;
  overflow: hidden;
  padding: 1.5rem 1rem;
  position: relative;
  text-transform: uppercase;
  max-width: 250px;
}
.button span {
  background: #1e293b;
  border-radius: 999px;
  color: #fff;
  display: grid;
  inset: 5px;
  place-items: center;
  position: absolute;
  transition: background 0.3s;
  font-weight: 100;
  font-size: 14px;
}
.button:hover span {
  background: none;
}

.button--contact {
  position: fixed;
  width: 150px;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);

  @media only screen and (min-width: 768px) {
    left: auto;
    right: 20px;
    transform: translateX(0);
  }
}