.cookie-banner {
  position: fixed;
  left: 16px;
  right: 16px;
  bottom: 16px;
  z-index: 1000;
  background: rgba(13, 13, 13, 0.25);
  backdrop-filter: blur(10px);
  border: 1px solid #777;
  border-radius: 12px;
  padding: 16px;
  max-width: 720px;
  margin: 0 auto;
  color: #ffffff;
  h2 {
    font-size: 14px;
    margin-bottom: 8px;
  }

  p {
    margin-bottom: 10px;
    font-size: 10px;
  }

  &-links {
    display: flex;
    gap: 16px;
    margin-bottom: 12px;

    a {
      font-size: 12px;
      text-decoration: underline;
    }
  }

  &-actions {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    button {
      position: relative;
    }
  }
}

